<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Dona @ Balos</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="../static/assets/css/animated.css">
    <link rel="stylesheet" href="../static/assets/css/owl.css">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
        <a href="index.html" class="logo">
          <img src="../static/assets/images/logo.png" width="55" height="65" style="margin-top: 0%; margin-left: 0%;">
        </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#blog">Blog</a></li> 
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
              <li class="scroll-to-section"><div class="main-red-button" ><a style="background-color: darkred;" href="#">Apply Now</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6 style="color: darkred;">Welcome to Dona@Balos</h6>
                <h2>We Make <em style="color: burlywood;">Chef's Dreams</em> <span style="color: darkred;">Come</span> True</h2>
                <p> Welcome to our culinary and hospitality school, where passion meets the plate and service comes from the heart.
                  Here, we believe that cooking is an art, hospitality is a calling, and both are gifts that should be shared with others.</p>
                <form id="search" action="#" method="GET">
                  <fieldset>
                    <input style="background-color: darkred; width: 60%;" type="disabled" name="address" class="email" placeholder="Download Prospectus" aria-disabled="true" disabled>
                  </fieldset>
                  <fieldset>
                    <button type="submit" class="main-button" style="background-color: burlywood; color: darkred;">Apply</button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../static/assets/images/banner-right-image.png" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8 align-self-center">
          <Div class="services">
            <div class="row">
              <div class="col-lg-6">
                <div class="col-lg-6 offset-lg-3 align-self-center">
                  <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2 style="color: rgb(82, 15, 15); font-weight: 500; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">About Us</h2>
                  </div>
                </div>
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="right-text">
                    <p>Dona@balos chef School and hospitality is a private owned culinary 
                      School situated in Maseru Lesotho. It was founded by Chef Donald 
                      Moletsane in 2013.It is currently the only school of its kind in the mountain kingdom. Dona@balos is legally recognized with the government of 
                      Lesotho. It is a trusted skills development organization. Now 
                      Dona@balos is providing a program for students who wish to 
                      become vibrant professionals</p>
                  </div>
                </div>
              </div>
            </Div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>See What Our School <em style="color: burlywood;">Offers</em> &amp; What We <span>Provide</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-6">
          <div class="showed-content">
                <h4 style="font-weight: bold; color: brown;">Diploma</h4>
                <p>This is a program that is built to shape both the student’s 
                  creativity and ability to handle kitchen pressure, and hard work. 
                  The diploma program is a two year program in which students 
                  spend 18 months of intensive training, and then move on to 6 
                  months of internship and hard field work.</p>
              </div>
              </div>
              <br>
        <div class="col-lg-12 col-sm-6">
          <div class="showed-content">
                <h4 style="font-weight: bold; color: brown;">You'll Learn</h4>
                <p>Method of cooking | Hygiene | Menu planning and budgeting | Food cost
                  | Culinary fundamentals | Food handling | Serving, platting and garnishing| Baking | Knife skills| Nutrition| Food and Beverages .</p>
              </div>
            </div>
            <br>
        <div class="col-lg-12 col-sm-6">
          <div class="showed-content">
                <h4 style="font-weight: bold; color: brown;">Requirments</h4>
                <p>CERTIFICATE- For entry into Dona@Balos chef school, candidates 
                  have to posses a junior certificate (JC) pass higher. 
                  DIPLOMA— For entry into the diploma program, candidates have 
                  to posses a C.O.S.E pass or higher. OR posses a JC pass with Skills 
                  Development program. 
                  The skills development program requires that a candidate posses 
                  a pass in Junior Certificate.
                  </p>
              </div>
      </div>
    </div>
  </div>
</div>

  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Check Our <span>Blog</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="../static/assets/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <img src="../static/assets/images/big-blog-thumb.png" alt="Workspace Desktop">
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> 01 Jan 2024</li>
                  <li><i class="fa fa-users"></i> Dona@Balos</li>
                  <li><i class="fa fa-folder"></i> Culinary Arts</li>
                </ul>
                <h4>The Art of Culinary and Hospitality: A Journey of Flavors and Experiences</h4>
                <p>Welcome to our blog, where we explore the beautiful intersection of culinary arts and hospitality.
                  Culinary arts is not just about cooking - it's about creating. Each dish is a canvas, and every ingredient is a color. Chefs are artists who bring these colors together to create a masterpiece that delights the senses. From the sizzle of a steak on the grill to the aroma of fresh herbs, every aspect of cooking contributes to the final symphony of flavors.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 8 Jan 2024</span>
                  <h4> The Heart of Hospitality</h4>
                  <p> Hospitality, on the other hand, is all about creating memorable experiences. It's about making people feel welcomed, valued, and cared for. Whether it's a warm greeting, a comfortable environment, or attentive service, every detail matters in hospitality.
                    When culinary arts and hospitality come together, magic happens. A well-cooked meal can bring joy, but when it's served with genuine care and attention, it creates an experience that stays with the diner long after the meal is over.
                  </p>
                </div>
                <div class="right-image">
                  <img src="../static/assets/images/blog-thumb-01.png" alt="">
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 4 Jan 2024</span>
                  <h4>Join Us on This Journey</h4>
                  <p>We invite you to join us on this journey as we explore the world of culinary arts and hospitality. Stay tuned for exciting recipes, cooking tips, hospitality insights, and stories from our students and staff.</p>
                </div>
                <div class="right-image">
                  <img src="../static/assets/images/blog-thumb-01.png" alt="">
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 06 Jan 2024</span>
                  <h4>Quote Of The Century</h4>
                  <p><i>
                    <q>
                      Thou shall us a sharp knife at all times, essentially, a chef should always strive to apply ethics, and deliver customer satisfaction
                    </q>
                    </i></p>
                </div>
                <div class="right-image">
                  <img src="../static/assets/images/blog-thumb-01.png" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message</h2>
            <br>
            <h4 style="font-weight: 600; color: burlywood;">Find Us At:</h4>
            <p>Thetsane Office Park

              Opposite Econet Telecom Lesotho, <br >Thetsane</p>
              <br>
            <h4 style="font-weight: 600; color: burlywood;">Mail Us At:</h4>
            <p>P.O Box 01118,<br> Maseru 100
              Koffi Annan Road
              Thetsane Office Park</p>
            <div class="phone-info">
              <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i>(+266) 62519894<br>
                (+266)59519894<br>
                (+266) 22323853</span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="../static/assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2024 Mileage Tech. All Rights Reserved. </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/js/owl-carousel.js"></script>
  <script src="../static/assets/js/animation.js"></script>
  <script src="../static/assets/js/imagesloaded.js"></script>
  <script src="../static/assets/js/templatemo-custom.js"></script>

</body>
</html>